
/*#map {
  position:absolute;
  top:70%;
  right:70%;
  bottom:0px;
  left:0px;
}*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#pano {
	position: absolute;
  height: 100%;
  width: 100%;
  z-index:1;
}
#map {
  position: absolute;
  top: 70%;
  left: 80%;
  right: 0px;
  bottom: 50px;
  z-index:2;
}


#confirmButton {
  position:absolute;
  bottom: 25px;
  left: 80%;
  right: 0px;
  width: 20%;
  z-index:2;
}
#currScore {
  position:absolute;
  bottom: 5px;
  left: 80%;
  right: 0px;
  width: 20%;
  background-color: white;
  text-align: center;
  z-index:2;
}

#expandButton {
  position:absolute;
  top: 70%;
  left: 80%;
  right: 0px;
  width: 2%;
  text-align: center;
  z-index:2;
}